.edit-main {
  display: flex;
  width: 40%;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 1em;
}
label {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 0.9rem;
  color: rgb(127, 127, 127);
}
.edit-title,
.edit-des {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  /* border-bottom:1px solid black ; */
}
.edit-titleEditBtn,
.edit-DesEditBtn {
  display: flex;
  flex-direction: row;
  font-weight: 600;
  font-size: 0.9rem;
  justify-content: space-between;
}
.edit-titleInput,
.edit-DesInput {
  font-size: medium;
  margin: 0.5em;
  width: 15rem;
  height: fit-content;
  /* font-weight: 600; */
  border-color: transparent;
  border-bottom-color: rgb(35, 41, 221);
}
.edit-DesText,
.edit-titleText {
  margin: 0.5em;
  width: 15rem;
  height: fit-content;
  /* font-weight: 600; */
  border: 1px solid black;
  border-color: transparent;
  border-bottom-color: rgb(6, 6, 6);
}
.edit-editBtns {
  font-size: 0.9em;
  border-radius: 4px;
  border-color: aliceblue;
  font-weight: 500;
}
.edit-saveBtnDiv{
  display: flex;
  flex-direction: row;
  
}
.edit-list,
.edit-tag {
  display: flex;
  align-items: center;
  font-size: small;
  font-weight: 600;
  gap: 1rem;
  text-transform: capitalize;
}
.edit-dateInput {
  width: fit-content;
  border-color: transparent;
  font-weight: 500;
}
.loading-div {
  margin: 1em;
  font-size: small;
  font-weight: 600;
}
.edit-tagItem,
.edit-listItem {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.edit-tagItem p {
  padding: 0.5em;
  border-radius: 0.4rem;
  background-color: rgb(227, 227, 227);
}
/* <textarea
        style={{ width: "15rem", height: "5rem" }}
        value={Task[currTask].taskDescription}
        onChange={editInputHandler}
        type="text"
      /> */

.addsubTask{
  margin: 0.5rem;
}      
.subtaskRenderDiv {
  overflow-x: scroll;
  max-height: 200px;
}
.subtaskRender {
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(56, 55, 55);
  font-size: 0.8rem;

  gap: 1px;
  margin: 0.3rem;
}
.baseBtnClass {
  width: fit-content;
  font-size: 0.7rem;
  font-weight: 500;
  border-radius: 0.3rem;
  margin: 0.2rem;
  border-color: aliceblue;
  cursor: pointer;
}
.subtaskSuggestionRenderDiv {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-top: 1px solid rgb(103, 99, 99);
  margin-top: 0.5rem;
}
.subtaskSuggestionRenderItem {
  color: rgb(90, 87, 87);
  cursor: pointer;
  font-size: small;
    transition: font-size 0.2s ease, color 0.2s ease, transform 0.2s ease-out;

}
.subtaskSuggestionRenderItem:hover{
  color: black;
  font-size: 0.8rem;
}
.baseInputClass {
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  padding: 0.25rem 0.4rem;
  font-size: 0.8rem;
}
.baseInputClass:focus {
  outline: none;
  border-color: #5b5bff;
}
