
.Nav-div{
    display: flex;
    background-color: rgb(249, 249, 249);
    color: white;
    width: 20%;
    height: 100vh;
    border-radius: 10px;
    flex-direction: column;
    font-weight: 500;
    padding-top: 1rem;
    border: 1px solid black;
}
nav{
    display: flex;
    flex-direction: column;
    width: 90%;
    color: rgb(89, 89, 89);
    font-size: small;
    justify-content: center;
    margin-left:10px ;
    margin-bottom: 1em;

    

}   
ul{
    margin-left: 4px;

}
ul li{
    list-style-type: none;
    display: flex;
    flex-direction: column;
   
    
}
ul li a{
     text-decoration: none;
     color: rgb(72, 72, 72);
     padding: 5px;
   border-bottom: 1px solid rgb(221, 221, 221);

}
ul li a:hover{
     text-decoration: none;
     color: rgb(72, 72, 72);
     padding: 5px;
   border-bottom: 1px solid rgb(10, 9, 9);

}
.menu{
    color: rgb(94, 94, 94);
    padding: 2px;
    margin: 4px 4px;
    display: flex;
    text-transform: capitalize;
    justify-content: space-between;
    border-bottom: 1px solid black;
    
}
.search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}
.inputBox-search{
    background-color: transparent;
    border: none;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 5px;
    width: 90%;
    height: 25px;
    font-weight: 500 ;
}
.section-div{
    display: flex;
    justify-content: space-between;
    width: 80%; 


}
.count{
    text-align: center;
    width: fit-content;
    height: fit-content;
    
    
}
.icon-div{
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

.nav-tagitem{
    padding: 0.5em;
}
a{
 text-decoration: none;
 color: black;
}
.nav-tagTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 3em;
    padding-left: 0%;
}
.tag-input{
    border: 1px solid black;
    border-color: rgb(176, 174, 174);
    border-radius: 5px;
    width:auto;
}
.nav-tagInputDiv{
    display: flex-wrap;
    width: fit-content;
    align-items: center;
}

.baseBtnClass {
  width: fit-content;
  font-size: 0.7rem;
  font-weight: 500;
  border-radius: 0.3rem;
  border-color: aliceblue;
  cursor: pointer;
}